<?php
/**
 * @author SebRogala <sebrogala@gmail.com>
 * @copyright Copyright (c) 2016 SebRogala All Right Reserved (sebrogala.com)
 * @license proprietary (see LICENSE.md file of this package)
 */

return [
    'dependencies' => [
        'factories' => [
            Zend\Expressive\Helper\BodyParams\BodyParamsMiddleware::class
                => Xsv\Base\Factory\BodyParams\BodyParamsFactory::class,
        ],
    ],
    'xsv-base' => [
        'can-create' => [
            'search-max-depth' => 2,    //should be equal to max number of words in 'abstract-factory' (currenty it's 2)
            'abstract-factory' => [
                'Handler',
                'Action',
                'InputFilter',
                'DoctrineService',
                'Doctrine',
                'Validator',
            ],
        ],
    ],
];